*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-optical-sizing: none;
}

main,
header,
footer {
  width: 100%;
}

.top-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.top-block > * {
  width: 1440px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.top-header {
  display: flex;
  padding: var(--spacing-md, 16px) 0;
  align-items: center;
  align-self: stretch;

  background: var(--colors-backgroung-header-1);
}
.top-header__grid {
  display: inline-grid;
  padding: 0 var(--space-40, 40px);
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header_text {
  align-self: CENTER;
  justify-self: CENTER;
  color: var(--colors-text-white);
}
.header__close {
  align-self: CENTER;
  justify-self: end;
  color: var(--colors-text-white);
}

.bottom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-page);
}

.bottom-header__grid {
  display: inline-grid;
  padding: var(--spacing-sm, 8px) var(--spacing-xxxl, 80px);
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header__nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  justify-self: center;
}

.header__a {
  color: var(--colors-text-main);
  text-decoration: none;
}
.header__buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  justify-self: end;
}

.button {
  display: flex;
  padding: var(--spacing-md) var(--spacing-xl);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-lg);
  border: 0px;
}
.header__left-button {
  gap: var(--gap-md);

  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
  color: var(--colors-text-button-button-2);
}

.header__right-button {
  color: var(--colors-text-button-button-1);
  background: var(--colors-backgroung-button-1);
}

.first-block {
  display: flex;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-surface);
}
.first-block__content {
  display: flex;
  padding-left: var(--spacing-xxl);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.first-block__left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-xxxxl);
  flex: 1 0 0;
}

.first-block__hero {
  width: 720px;
  height: 790px;
  flex-shrink: 0;
  border-radius: 0 0 0 32px;
  object-fit: cover;
}

.first-block__top-part {
  display: flex;
  padding: var(--spacing-0);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-xxl);
  align-self: stretch;
}
.first-block__title {
  max-width: 541px;
  align-self: stretch;
  color: var(--colors-text-title);
}
.first-block__text {
  max-width: 543px;
  align-self: stretch;
  color: var(--colors-text-title);
}
.first-block__buttons {
  display: flex;
  align-items: center;
  align-content: center;
  gap: var(--gap-md) var(--gap-lg);
  align-self: stretch;
  flex-wrap: wrap;
}
.first-block__left-button {
  background: var(--colors-backgroung-button-1);
  color: var(--colors-text-button-button-1);
}

.first-block__right-button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
  color: var(--colors-text-button-button-2);
}

.first-block__bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-xl);
  align-self: stretch;
}
.first-block__text-icons {
  color: var(--colors-text-title);
}
.icons {
  display: flex;
  align-items: center;
  align-content: center;
  gap: var(--gap-md) var(--gap-lg);
  align-self: stretch;
  flex-wrap: wrap;
}

.second-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-surface);
}
.second-block__content {
  display: flex;
  padding: var(--spacing-xxl) var(--spacing-0);
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
}
.second-block__item {
  display: flex;
  padding: var(--spacing-lg) var(--spacing-xl);
  justify-content: center;
  align-items: center;
  gap: var(--gap-0);

  border-radius: var(--radius-lg);
  background: var(--colors-backgroung-page);

  color: var(--colors-text-title);
}

.third-block {
  background: var(--colors-backgroung-page);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.third-block__content {
  display: flex;
  padding: var(--spacing-xxxxl) var(--spacing-0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
}
.subject {
  display: flex;
  padding: var(--spacing-xs) var(--spacing-xl);
  align-items: center;

  border-radius: var(--radius-md);
  background: var(--colors-backgroung-surface);
}
.title {
  color: var(--colors-text-title);
}
.third-block__text {
  max-width: 760px;
  color: var(--colors-text-main);
  text-align: center;
}
.third-block__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: var(--gap-md) var(--gap-lg);
  align-self: stretch;
  flex-wrap: wrap;
}
.third-block__left-button,
.third-block__right-button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
}

.fourth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-page, #fff);
}

.fourth-block__content {
  display: flex;
  padding: var(--spacing-xxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
}
.fourth-block__top-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  align-self: stretch;
}

.fourth-block__bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  align-self: stretch;
}
.fourth-block__card {
  display: flex;
  padding-top: var(--spacing-xl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxl);
  flex: 1 0 0;

  border-radius: var(--radius-sm);
  background: var(--colors-backgroung-card-2);
}
.fourth-block__img {
  width: 437.333px;
  height: 210px;
  object-fit: contain;
}
.four-block__card-info {
  display: flex;
  padding: var(--spacing-lg) var(--spacing-md);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
  align-self: stretch;

  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
  background: var(--colors-basic-white);
}
.fourth-block__texts {
  display: flex;
  padding: var(--spacing-0);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-sm, 4px);
  align-self: stretch;
}
.fourth-block__name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.fourth-block__name {
  color: var(--colors-text-title);
}
.fourth-block__price {
  color: var(--colors-grey-800);
}
.fourth-block__description {
  color: var(--colors-grey-800);
}
.fourth-block__button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
  align-self: stretch;
}

.fifth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-page);
}

.fifth-block__content {
  display: flex;
  padding: var(--spacing-xxxl);
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
}

.fifth-block__card {
  display: flex;
  padding-top: var(--spacing-xxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxl);
  flex: 1 0 0;

  border-radius: var(--radius-md);
  background: var(--colors-grey-500);
}

.fifth-block__description {
  display: flex;
  padding: 0 var(--spacing-xxxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
  align-self: stretch;
}
.fifth-block__title {
  color: var(--colors-text-title);
  text-align: center;
}
.fifth-block__text {
  max-width: 470px;
  color: var(--colors-grey-800);
  text-align: center;
}
.fifth-block__button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
}

.fifth-block__background-img {
  height: 372px;
  align-self: stretch;
  border-radius: 0 0 24px 24px;
}

.fifth-block__card:nth-child(1) .fifth-block__background-img {
  background: url(./static/fifth-block/IMAGE\ 1.png) lightgray 50% / cover
    no-repeat;
}

.fifth-block__card:nth-child(2) .fifth-block__background-img {
  background: url(./static/fifth-block/IMAGE\ 2.png) lightgray 50% / cover
    no-repeat;
}

.sixth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-page);
}

.sixth-block__content {
  display: flex;
  padding: var(--spacing-xxxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxxl);
}
.sixth-block__top-part {
  display: flex;
  padding: 0 var(--spacing-xxxxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  align-self: stretch;
}
.sixth-block__description {
  max-width: 770px;
  color: var(--colors-text-main, #697586);
  text-align: center;
}
.sixth-block__bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxl);
  align-self: stretch;
}
.sixth-block__card {
  display: flex;
  padding: var(--spacing-0) var(--gap-xl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
  flex: 1 0 0;
}
.sixth-block__icon {
  display: flex;
  padding: var(--spacing-xl);
  justify-content: center;
  align-items: center;
  gap: var(--gap-0);

  border-radius: var(--radius-full);
  background: var(--colors-backgroung-surface);
}
.six-block__card-title {
  color: var(--colors-text-title);
  text-align: center;
}
.six-block__card-description {
  color: var(--colors-text-main);
  text-align: center;
}
.seventh-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-page);
}
.seventh-block__content {
  display: flex;
  padding: var(--spacing-xxxl);
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxxl);
}
.seventh-block__img {
  width: 576px;
  height: 576px;
  flex-shrink: 0;
  border-radius: 24px;
  object-fit: cover;
}
.seventh-block__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  flex: 1 0 0;
}
.seventh-block__text {
  max-width: 576px;
  color: var(--colors-text-main);
  text-align: center;
}
.seventh-block__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: var(--gap-md) var(--gap-lg);
  flex-wrap: wrap;
}

.seventh-block__left-button,
.seventh-block__right-button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
}

.ninth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-basic-white);
}

.ninth-block__content {
  display: flex;
  padding: var(--spacing-xxxl) var(--spacing-xxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
}
.ninth-block__top-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  align-self: stretch;
}
.ninth-block__text {
  color: var(--colors-text-main);
  text-align: center;
}
.ninth-block__grid {
  display: inline-grid;
  row-gap: var(--gap-xxxl);
  column-gap: var(--gap-xxl);
  align-self: stretch;
  grid-template-rows: repeat(2, fit-content(100%));
  grid-template-columns: repeat(3, minmax(0, 1fr));

  align-items: start;
}

.ninth-block__comment {
  display: flex;
  max-width: 442px;
  padding: var(--spacing-md) var(--spacing-xxl);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-xl, 24px);
  justify-self: stretch;

  border-radius: var(--radius-sm);
  background: var(--colors-backgroung-card-2);
}
.ninth-block__stars {
  display: flex;
  padding: var(--spacing-0);
  align-items: center;
  gap: var(--gap-sm);
  align-self: stretch;
}
.ninth-block__star {
  width: 20px;
  height: 19px;
  fill: var(--colors-vector);
}
.ninth-block__comment-text {
  color: var(--colors-text-main);
}
.ninth-block__people {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
  align-self: stretch;
}
.ninth-block__img {
  width: 61.579px;
  height: 56px;
  object-fit: cover;
}
.ninth-block__name-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.ninth-block__name {
  color: var(--colors-text-title);
}
.ninth-block__job {
  color: var(--colors-text-main);
}

.tenth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-card-2);
}
.tenth-block__content {
  display: flex;
  padding: var(--gap-xxxxl);
  align-items: center;
}
.tenth-block__left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-xxl);
  flex: 1 0 0;
}
.tenth-block__title {
  max-width: 425px;
  color: var(--colors-text-title);
}
.tenth-block__text {
  max-width: 500px;
  color: var(--colors-text-main);
}
.tenth-block__button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
}
.tenth-block__right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  flex: 1 0 0;
}
.tenth-block__card {
  display: flex;
  padding: var(--spacing-lg) var(--spacing-xl) var(--spacing-lg)
    var(--spacing-lg);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: var(--radius-sm);
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-text-button-button-1);
}
.tenth-block__card-text {
  color: var(--colors-text-button-button-2);
}
.tenth-block__add {
  color: var(--colors-text-button-button-2);
}

.eleventh-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-backgroung-page, #fff);
}

.eleventh-block__content {
  display: flex;
  padding: var(--gap-xxxxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxxl);
}
.eleventh-block__top-part {
  display: flex;
  padding: var(--spacing-0);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.eleventh-block__left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-lg);
  flex: 1 0 0;
}
.eleventh-block__text {
  color: var(--colors-text-main);
}
.eleventh-block__top-button {
  border: var(--border-size) solid var(--colors-border);
  background: var(--colors-backgroung-button-2);
}
.eleventh-block__bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
  align-self: stretch;
}

.eleventh-block__card {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--radius-sm);
  background: var(--colors-backgroung-card-2);
}

.eleventh-block__card-img {
  display: flex;
  height: 250px;
  padding: var(--spacing-lg) 0 0 var(--spacing-md);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.eleventh-block__card:nth-child(1) .eleventh-block__card-img {
  background: url(./static/eleventh-block/From\ our\ blog\ 1.png) lightgray
    50% / cover no-repeat;
}

.eleventh-block__card:nth-child(2) .eleventh-block__card-img {
  background: url(./static/eleventh-block/From\ our\ blog\ 2.png) lightgray
    50% / cover no-repeat;
}

.eleventh-block__card:nth-child(3) .eleventh-block__card-img {
  background: url(./static/eleventh-block/From\ our\ blog\ 3.png) lightgray
    50% / cover no-repeat;
}

.eleventh-block__card-button {
  display: flex;
  padding: var(--spacing-xs) var(--spacing-md);
  justify-content: center;
  align-items: center;

  border-radius: var(--spacing-lg);
  background: var(--colors-backgroung-button-1);

  color: var(--colors-text-button-button-1);
}

.eleventh-block__description {
  display: flex;
  padding: var(--spacing-xl) var(--spacing-lg);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.eleventh-block__card-title {
  color: var(--colors-text-title);
  align-self: stretch;
}
.eleventh-block__card-text {
  color: var(--colors-text-main);
  align-self: stretch;
}
.eleventh-block__link {
  color: var(--colors-text-button-button-2);
  text-decoration: none;
  align-self: stretch;
}
.twelfth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--colors-basic-white);
}
.twelgth-block__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
}
.twelfth-block__img {
  width: 275px;
  height: 275px;
  flex-shrink: 0;
  border-radius: 16px;

  object-fit: cover;
}

.footer__content {
  display: flex;
  padding: var(--spacing-spacing-xxxl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-spacipng-xxl);
}
.footer__top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer__left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-gap-xxl);
}
.footer__text {
  color: var(--colors-grey-grey-800);
}
.footer__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-gap-lg);
  align-self: stretch;
}
.footer__input {
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--radius-radius-sm);
  border: var(--border-border-size) solid var(--border-border-color);
  background: var(--colors-basic-white);
}
.footer__button {
  background: var(--colors-pink-pink-500);
  color: var(--colors-basic-white);
  text-align: center;
}

.footer__right-part {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-gap-xxl);
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-gap-lg);
}
.footer__item-title {
  color: var(--colors-violet-violet-800);
}
.footer__item {
  color: var(--colors-grey-grey-800);
}

.footer__line {
  background: var(--colors-grey-grey-700);
  width: 1280px;
  height: 1px;
}
.footer__bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer__powered {
  color: var(--colors-grey-grey-800);
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-gap-xl);
}
