:root {
  /* color */
  --colors-basic-black: #000000;
  --colors-basic-white: #ffffff;
  --colors-grey-500: #f3f5f7;
  --colors-grey-700: #cdd5df;
  --colors-grey-800: #697586;
  --colors-pink-500: #cf4d74;
  --colors-violet-500: #edebf7;
  --colors-violet-700: #6244a3;
  --colors-violet-800: #3c2769;
  /* number */
  --fonts-heights-16: 16px;
  --fonts-heights-20: 20px;
  --fonts-heights-24: 24px;
  --fonts-heights-28: 28px;
  --fonts-heights-32: 32px;
  --fonts-heights-36: 36px;
  --fonts-heights-40: 40px;
  --fonts-heights-44: 44px;
  --fonts-heights-48: 48px;
  --fonts-heights-60: 60px;
  --fonts-heights-68: 68px;
  --fonts-letter-spacing-0: 0px;
  --fonts-sizes-12: 12px;
  --fonts-sizes-14: 14px;
  --fonts-sizes-16: 16px;
  --fonts-sizes-20: 20px;
  --fonts-sizes-24: 24px;
  --fonts-sizes-28: 28px;
  --fonts-sizes-32: 32px;
  --fonts-sizes-56: 56px;
  --fonts-sizes-64: 64px;
  --fonts-weights-regular: 400px;
  --fonts-weights-medium: 500px;
  --fonts-weights-bold: 700px;
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-64: 64px;
  --radius-full: 1000000000px;
  --space-0: 0px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-36: 36px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-160: 160px;
  /* string */
  --fonts-family-inter: Inter;
  --fonts-family-material-icons: Material Icons;
  --fonts-family-roboto: Roboto;
}
[data-theme="desktop"] {
  /* color */
  --colors-border: var(--colors-grey-800, #697586);
  --colors-vector: var(--colors-basic-black, #000000);
  --colors-backgroung-button-1: var(--colors-pink-500, #cf4d74);
  --colors-backgroung-button-2: var(--colors-basic-white, #ffffff);
  --colors-backgroung-card: var(--colors-grey-700, #cdd5df);
  --colors-backgroung-card-2: var(--colors-grey-500, #f3f5f7);
  --colors-backgroung-header-1: var(--colors-violet-700, #6244a3);
  --colors-backgroung-page: var(--colors-basic-white, #ffffff);
  --colors-backgroung-surface: var(--colors-violet-500, #edebf7);
  --colors-text-main: var(--colors-grey-800, #697586);
  --colors-text-title: var(--colors-violet-800, #3c2769);
  --colors-text-white: var(--colors-basic-white, #ffffff);
  --colors-text-button-button-1: var(--colors-basic-white, #ffffff);
  --colors-text-button-button-2: var(--colors-basic-black, #000000);
  /* number */
  --border-size: 1px;
  --fonts-h1-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-h1-size: var(--fonts-sizes-64, 64);
  --fonts-h1-heights: var(--fonts-heights-68, 68);
  --fonts-h1-weight: var(--fonts-weights-regular, 400);
  --fonts-h2-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-h2-size: var(--fonts-sizes-56, 56);
  --fonts-h2-height: var(--fonts-heights-60, 60);
  --fonts-h2-weight: var(--fonts-weights-regular, 400);
  --fonts-h3-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-h3-size: var(--fonts-sizes-32, 32);
  --fonts-h3-height: var(--fonts-heights-44, 44);
  --fonts-h3-weight: var(--fonts-weights-regular, 400);
  --fonts-h4-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-h4-size: var(--fonts-sizes-24, 24);
  --fonts-h4-height: var(--fonts-heights-32, 32);
  --fonts-h4-weight: var(--fonts-weights-regular, 400);
  --fonts-h5-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-h5-size: var(--fonts-sizes-16, 16);
  --fonts-h5-height: var(--fonts-heights-24, 24);
  --fonts-h5-weight: var(--fonts-weights-regular, 400);
  --fonts-material-icons-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-material-icons-height: var(--fonts-heights-16, 16);
  --fonts-material-icons-size: var(--fonts-sizes-28, 28);
  --fonts-material-icons-weight: var(--fonts-weights-regular, 400);
  --fonts-small-text-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-small-text-size: var(--fonts-sizes-16, 16);
  --fonts-small-text-height: var(--fonts-heights-24, 24);
  --fonts-small-text-weight: var(--fonts-weights-regular, 400);
  --fonts-text-letter-spacing: var(--fonts-letter-spacing-0, 0);
  --fonts-text-size: var(--fonts-sizes-20, 20);
  --fonts-text-height: var(--fonts-heights-28, 28);
  --fonts-text-weight: var(--fonts-weights-regular, 400);
  --gap-0: var(--space-0, 0px);
  --gap-sm: var(--space-4, 4px);
  --gap-md: var(--space-8, 8px);
  --gap-lg: var(--space-16, 16px);
  --gap-xl: var(--space-24, 24px);
  --gap-xxl: var(--space-32, 32px);
  --gap-xxxl: var(--space-64, 64px);
  --gap-xxxxl: var(--space-80, 80px);
  --radius-sm: var(--radius-16, 16px);
  --radius-md: var(--radius-24, 24px);
  --radius-lg: var(--radius-64, 64px);
  --radius-full: var(--radius-full, 1000000000px);
  --spacing-0: var(--space-0, 0px);
  --spacing-xs: var(--space-4, 4px);
  --spacing-sm: var(--space-8, 8px);
  --spacing-md: var(--space-16, 16px);
  --spacing-lg: var(--space-24, 24px);
  --spacing-xl: var(--space-32, 32px);
  --spacing-xxl: var(--space-40, 40px);
  --spacing-xxxl: var(--space-80, 80px);
  --spacing-xxxxl: var(--space-160, 160px);
  /* string */
  --fonts-h1-family: var(--fonts-family-roboto, Roboto);
  --fonts-h2-family: var(--fonts-family-roboto, Roboto);
  --fonts-h3-family: var(--fonts-family-roboto, Roboto);
  --fonts-h4-family: var(--fonts-family-roboto, Roboto);
  --fonts-h5-family: var(--fonts-family-inter, Inter);
  --fonts-material-icons-family: var(
    --fonts-family-material-icons,
    Material Icons
  );
  --fonts-small-text-family: var(--fonts-family-inter, Inter);
  --fonts-text-family: var(--fonts-family-inter, Inter);
}

.Desktop__MaterialIcons {
  font-family: var(--fonts-material-icons-family), sans-serif;
  font-size: var(--fonts-material-icons-size);
  font-weight: var(--fonts-material-icons-weight);
  line-height: var(--fonts-material-icons-height);
  letter-spacing: var(--fonts-material-icons-letter-spacing);
}
.Desktop__H1 {
  font-family: var(--fonts-h1-family), sans-serif;
  font-size: var(--fonts-h1-size);
  font-weight: var(--fonts-h1-weight);
  line-height: var(
    --fonts-h1-heights
  ); /* в ваших токенах тут heights с буквой 's' на конце */
  letter-spacing: var(--fonts-h1-letter-spacing);
}
.Desktop__H2 {
  font-family: var(--fonts-h2-family), sans-serif;
  font-size: var(--fonts-h2-size);
  font-weight: var(--fonts-h2-weight);
  line-height: var(--fonts-h2-height);
  letter-spacing: var(--fonts-h2-letter-spacing);
}
.Desktop__H3 {
  font-family: var(--fonts-h3-family), sans-serif;
  font-size: var(--fonts-h3-size);
  font-weight: var(--fonts-h3-weight);
  line-height: var(--fonts-h3-height);
  letter-spacing: var(--fonts-h3-letter-spacing);
}
.Desktop__H4 {
  font-family: var(--fonts-h4-family), sans-serif;
  font-size: var(--fonts-h4-size);
  font-weight: var(--fonts-h4-weight);
  line-height: var(--fonts-h4-height);
  letter-spacing: var(--fonts-h4-letter-spacing);
}
.Desktop__H5 {
  font-family: var(--fonts-h5-family), sans-serif;
  font-size: var(--fonts-h5-size);
  font-weight: var(--fonts-h5-weight);
  line-height: var(--fonts-h5-height);
  letter-spacing: var(--fonts-h5-letter-spacing);
}
.Desktop__Text {
  font-family: var(--fonts-text-family), sans-serif;
  font-size: var(--fonts-text-size);
  font-weight: var(--fonts-text-weight);
  line-height: var(--fonts-text-height);
  letter-spacing: var(--fonts-text-letter-spacing);
}
.Desktop__Smalltext {
  font-family: var(--fonts-small-text-family), sans-serif;
  font-size: var(--fonts-small-text-size);
  font-weight: var(--fonts-small-text-weight);
  line-height: var(--fonts-small-text-height);
  letter-spacing: var(--fonts-small-text-letter-spacing);
}
