:root {
  /* color */
  --colors-pink-pink-500: #cf4d74;
  --colors-basic-black: #000000;
  --colors-basic-white: #ffffff;
  --colors-grey-grey-500: #f3f5f7;
  --colors-grey-grey-700: #cdd5df;
  --colors-grey-grey-800: #697586;
  --colors-violet-violet-500: #edebf7;
  --colors-violet-violet-700: #6244a3;
  --colors-violet-violet-800: #3c2769;
  /* number */
  --fonts-heights-heights-16: 16px;
  --fonts-heights-heights-20: 20px;
  --fonts-heights-heights-24: 24px;
  --fonts-heights-heights-28: 28px;
  --fonts-heights-heights-32: 32px;
  --fonts-heights-heights-36: 36px;
  --fonts-heights-heights-40: 40px;
  --fonts-heights-heights-44: 44px;
  --fonts-heights-heights-48: 48px;
  --fonts-heights-heights-60: 60px;
  --fonts-heights-heights-68: 68px;
  --fonts-letter-spacing-letter-spacing-0: 0px;
  --fonts-sizes-size-12: 12px;
  --fonts-sizes-size-14: 14px;
  --fonts-sizes-size-16: 16px;
  --fonts-sizes-size-20: 20px;
  --fonts-sizes-size-24: 24px;
  --fonts-sizes-size-28: 28px;
  --fonts-sizes-size-32: 32px;
  --fonts-sizes-size-56: 56px;
  --fonts-sizes-size-64: 64px;
  --fonts-weights-regular: 400px;
  --fonts-weights-medium: 500px;
  --fonts-weights-bold: 700px;
  --radius-radius-0: 0px;
  --radius-radius-2: 2px;
  --radius-radius-4: 4px;
  --radius-radius-8: 8px;
  --radius-radius-12: 12px;
  --radius-radius-16: 16px;
  --radius-radius-24: 24px;
  --radius-radius-32: 32px;
  --radius-radius-64: 64px;
  --radius-full: 1000000000px;
  --space-space-0: 0px;
  --space-space-4: 4px;
  --space-space-8: 8px;
  --space-space-12: 12px;
  --space-space-16: 16px;
  --space-space-20: 20px;
  --space-space-24: 24px;
  --space-space-28: 28px;
  --space-space-32: 32px;
  --space-space-36: 36px;
  --space-space-40: 40px;
  --space-space-48: 48px;
  --space-space-64: 64px;
  --space-space-80: 80px;
  --space-space-160: 160px;
  /* string */
  --fonts-family-inter: Inter;
  --fonts-family-material-icons: Material Icons;
  --fonts-family-roboto: Roboto;
}
[data-theme="desktop"] {
  /* color */
  --background-bg-button-1: var(--colors-pink-pink-500);
  --background-bg-button-2: var(--colors-basic-white);
  --background-bg-card: var(--colors-grey-grey-700);
  --background-bg-header-1: var(--colors-violet-violet-700);
  --background-bg-page: var(--colors-basic-white);
  --background-bg-surface: var(--colors-violet-violet-500);
  --border-border-color: var(--colors-grey-grey-800);
  /* number */
  --border-border-size: 1px;
  --fonts-h1-letter-spacing: var(--fonts-letter-spacing-letter-spacing-0);
  --fonts-h1-size: var(--fonts-sizes-size-64);
  --fonts-h1-heights: var(--fonts-heights-heights-68);
  --fonts-h1-weight: var(--fonts-weights-regular);
  --fonts-h2-letter-spacing: var(--fonts-letter-spacing-letter-spacing-0);
  --fonts-h2-size: var(--fonts-sizes-size-56);
  --fonts-h2-height: var(--fonts-heights-heights-60);
  --fonts-h2-weight: var(--fonts-weights-regular);
  --fonts-h3-letter-spacing: var(--fonts-letter-spacing-letter-spacing-0);
  --fonts-h3-size: var(--fonts-sizes-size-32);
  --fonts-h3-height: var(--fonts-heights-heights-44);
  --fonts-h3-weight: var(--fonts-weights-regular);
  --fonts-h4-letter-spacing: var(--fonts-letter-spacing-letter-spacing-0);
  --fonts-h4-size: var(--fonts-sizes-size-24);
  --fonts-h4-height: var(--fonts-heights-heights-32);
  --fonts-h4-weight: var(--fonts-weights-regular);
  --fonts-h5-letter-spacing: var(--fonts-letter-spacing-letter-spacing-0);
  --fonts-h5-size: var(--fonts-sizes-size-16);
  --fonts-h5-height: var(--fonts-heights-heights-24);
  --fonts-h5-weight: var(--fonts-weights-regular);
  --fonts-material-icons-letter-spacing: var(
    --fonts-letter-spacing-letter-spacing-0
  );
  --fonts-material-icons-height: var(--fonts-heights-heights-16);
  --fonts-material-icons-size: var(--fonts-sizes-size-28);
  --fonts-material-icons-weight: var(--fonts-weights-regular);
  --fonts-small-text-letter-spacing: var(
    --fonts-letter-spacing-letter-spacing-0
  );
  --fonts-small-text-size: var(--fonts-sizes-size-16);
  --fonts-small-text-height: var(--fonts-heights-heights-24);
  --fonts-small-text-weight: var(--fonts-weights-regular);
  --fonts-text-letter-spacing: var(--fonts-letter-spacing-letter-spacing-0);
  --fonts-text-size: var(--fonts-sizes-size-20);
  --fonts-text-height: var(--fonts-heights-heights-28);
  --fonts-text-weight: var(--fonts-weights-regular);
  --gap-gap-0: var(--space-space-0);
  --gap-gap-sm: var(--space-space-4);
  --gap-gap-md: var(--space-space-8);
  --gap-gap-lg: var(--space-space-16);
  --gap-gap-xl: var(--space-space-24);
  --gap-gap-xxl: var(--space-space-32);
  --gap-gap-xxxl: var(--space-space-64);
  --gap-gap-xxxxl: var(--space-space-80);
  --radius-radius-sm: var(--radius-radius-16);
  --radius-radius-md: var(--radius-radius-24);
  --radius-radius-lg: var(--radius-radius-64);
  --radius-radius-full: var(--radius-full);
  --spacing-spacing-0: var(--space-space-0);
  --spacing-spacing-xs: var(--space-space-4);
  --spacing-spacing-sm: var(--space-space-8);
  --spacing-spacing-md: var(--space-space-16);
  --spacing-spacing-lg: var(--space-space-24);
  --spacing-spacing-xl: var(--space-space-32);
  --spacing-spacipng-xxl: var(--space-space-40);
  --spacing-spacing-xxxl: var(--space-space-80);
  --spacing-spacing-xxxxl: var(--space-space-160);
  /* string */
  --fonts-h1-family: var(--fonts-family-roboto);
  --fonts-h2-family: var(--fonts-family-roboto);
  --fonts-h3-family: var(--fonts-family-roboto);
  --fonts-h4-family: var(--fonts-family-roboto);
  --fonts-h5-family: var(--fonts-family-inter);
  --fonts-material-icons-family: var(--fonts-family-material-icons);
  --fonts-small-text-family: var(--fonts-family-inter);
  --fonts-text-family: var(--fonts-family-inter);
}

.Desktop__MaterialIcons {
  font-family: var(--fonts-material-icons-family), sans-serif;
  font-size: var(--fonts-material-icons-size);
  font-weight: var(--fonts-material-icons-weight);
  line-height: var(--fonts-material-icons-height);
  letter-spacing: var(--fonts-material-icons-letter-spacing);
}
.Desktop__H1 {
  font-family: var(--fonts-h1-family), sans-serif;
  font-size: var(--fonts-h1-size);
  font-weight: var(--fonts-h1-weight);
  line-height: var(
    --fonts-h1-heights
  ); /* в ваших токенах тут heights с буквой 's' на конце */
  letter-spacing: var(--fonts-h1-letter-spacing);
}
.Desktop__H2 {
  font-family: var(--fonts-h2-family), sans-serif;
  font-size: var(--fonts-h2-size);
  font-weight: var(--fonts-h2-weight);
  line-height: var(--fonts-h2-height);
  letter-spacing: var(--fonts-h2-letter-spacing);
}
.Desktop__H3 {
  font-family: var(--fonts-h3-family), sans-serif;
  font-size: var(--fonts-h3-size);
  font-weight: var(--fonts-h3-weight);
  line-height: var(--fonts-h3-height);
  letter-spacing: var(--fonts-h3-letter-spacing);
}
.Desktop__H4 {
  font-family: var(--fonts-h4-family), sans-serif;
  font-size: var(--fonts-h4-size);
  font-weight: var(--fonts-h4-weight);
  line-height: var(--fonts-h4-height);
  letter-spacing: var(--fonts-h4-letter-spacing);
}
.Desktop__H5 {
  font-family: var(--fonts-h5-family), sans-serif;
  font-size: var(--fonts-h5-size);
  font-weight: var(--fonts-h5-weight);
  line-height: var(--fonts-h5-height);
  letter-spacing: var(--fonts-h5-letter-spacing);
}
.Desktop__Text {
  font-family: var(--fonts-text-family), sans-serif;
  font-size: var(--fonts-text-size);
  font-weight: var(--fonts-text-weight);
  line-height: var(--fonts-text-height);
  letter-spacing: var(--fonts-text-letter-spacing);
}
.Desktop__Smalltext {
  font-family: var(--fonts-small-text-family), sans-serif;
  font-size: var(--fonts-small-text-size);
  font-weight: var(--fonts-small-text-weight);
  line-height: var(--fonts-small-text-height);
  letter-spacing: var(--fonts-small-text-letter-spacing);
}
