@media (min-width: 375px) and (max-width: 768px) {
  :root {
    /* color */
    --colors-border: var(--colors-grey-800, #697586);
    --colors-vector: var(--colors-basic-black, #000000);
    --colors-backgroung-button-1: var(--colors-pink-500, #cf4d74);
    --colors-backgroung-button-2: var(--colors-basic-white, #ffffff);
    --colors-backgroung-card: var(--colors-grey-700, #cdd5df);
    --colors-backgroung-card-2: var(--colors-grey-500, #f3f5f7);
    --colors-backgroung-header-1: var(--colors-violet-700, #6244a3);
    --colors-backgroung-page: var(--colors-basic-white, #ffffff);
    --colors-backgroung-surface: var(--colors-violet-500, #edebf7);
    --colors-text-main: var(--colors-grey-800, #697586);
    --colors-text-title: var(--colors-violet-800, #3c2769);
    --colors-text-white: var(--colors-basic-white, #ffffff);
    --colors-text-button-button-1: var(--colors-basic-white, #ffffff);
    --colors-text-button-button-2: var(--colors-basic-black, #000000);
    /* number */
    --border-size: 1px;
    --fonts-h1-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-h1-size: var(--fonts-sizes-32, 32);
    --fonts-h1-heights: var(--fonts-heights-48, 48);
    --fonts-h1-weight: var(--fonts-weights-regular, 400);
    --fonts-h2-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-h2-size: var(--fonts-sizes-28, 28);
    --fonts-h2-height: var(--fonts-heights-44, 44);
    --fonts-h2-weight: var(--fonts-weights-regular, 400);
    --fonts-h3-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-h3-size: var(--fonts-sizes-24, 24);
    --fonts-h3-height: var(--fonts-heights-36, 36);
    --fonts-h3-weight: var(--fonts-weights-regular, 400);
    --fonts-h4-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-h4-size: var(--fonts-sizes-16, 16);
    --fonts-h4-height: var(--fonts-heights-24, 24);
    --fonts-h4-weight: var(--fonts-weights-regular, 400);
    --fonts-h5-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-h5-size: var(--fonts-sizes-12, 12);
    --fonts-h5-height: var(--fonts-heights-16, 16);
    --fonts-h5-weight: var(--fonts-weights-regular, 400);
    --fonts-material-icons-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-material-icons-height: var(--fonts-heights-8, 8);
    --fonts-material-icons-size: var(--fonts-sizes-20, 20);
    --fonts-material-icons-weight: var(--fonts-weights-regular, 400);
    --fonts-small-text-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-small-text-size: var(--fonts-sizes-10, 10);
    --fonts-small-text-height: var(--fonts-heights-12, 12);
    --fonts-small-text-weight: var(--fonts-weights-regular, 400);
    --fonts-text-letter-spacing: var(--fonts-letter-spacing-0, 0);
    --fonts-text-size: var(--fonts-sizes-14, 14);
    --fonts-text-height: var(--fonts-heights-20, 20);
    --fonts-text-weight: var(--fonts-weights-regular, 400);
    --gap-0: var(--space-0, 0px);
    --gap-md: var(--space-4, 4px);
    --gap-sm: var(--space-4, 4px);
    --gap-lg: var(--space-8, 8px);
    --gap-xl: var(--space-12, 12px);
    --gap-xxl: var(--space-16, 16px);
    --gap-xxxl: var(--space-20, 20px);
    --gap-xxxxl: var(--space-48, 48px);
    --radius-sm: var(--radius-12, 12px);
    --radius-md: var(--radius-24, 24px);
    --radius-lg: var(--radius-64, 64px);
    --radius-max: var(--radius-full, 1000000000px);
    --spacing-0: var(--space-0, 0px);
    --spacing-md: var(--space-4, 4px);
    --spacing-sm: var(--space-4, 4px);
    --spacing-xs: var(--space-4, 4px);
    --spacing-lg: var(--space-8, 8px);
    --spacing-xl: var(--space-12, 12px);
    --spacing-xxl: var(--space-20, 20px);
    --spacing-xxxl: var(--space-28, 28px);
    --spacing-xxxxl: var(--space-64, 64px);
    /* string */
    --fonts-h1-family: var(--fonts-family-roboto, Roboto);
    --fonts-h2-family: var(--fonts-family-roboto, Roboto);
    --fonts-h3-family: var(--fonts-family-roboto, Roboto);
    --fonts-h4-family: var(--fonts-family-roboto, Roboto);
    --fonts-h5-family: var(--fonts-family-inter, Inter);
    --fonts-material-icons-family: var(
      --fonts-family-material-icons,
      Material Icons
    );
    --fonts-small-text-family: var(--fonts-family-inter, Inter);
    --fonts-text-family: var(--fonts-family-inter, Inter);
  }

  .first-block__hero {
    display: none;
  }

  .header__buttons {
    display: none;
  }

  .seventh-block--reverse {
    display: none;
  }

  .first-block__content {
    padding-left: var(--spacing-xxl);
    padding-right: var(--spacing-xxl);
  }

  .first-block__top-part,
  .first-block__bottom-part,
  .first-block__left-part,
  .first-block__icons {
    align-items: center;
    justify-content: center;
  }

  .first-block__title,
  .first-block__text {
    text-align: center;
  }

  .ninth-block__grid {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
    align-self: stretch;

    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  }

  .seventh-block__img {
    display: none;
  }

  .ninth-block__comment {
    scroll-snap-align: start;
  }

  .tenth-block__card {
    min-width: 300px;
  }

  .tenth-block__right-part {
    min-width: 320px;
  }
}
